form.createUser{
    width: 500px;
}
.title{
    font-size: 35px;
    font-weight: bold;
    color: #fff;
}
.tableWrapper,
table{
    width: 100%;
}
tr{
    background: #fff;
}
th, td{
    padding: 5px;
}
.userCount{
    color: #ebcf20;
}
.flexWrapp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
