.homeTitle{
 font-size: 7em;
 text-align: center;
 color: #fff;
}
.homeTitle a{
    text-decoration: none;
    position: relative;
    color: #ebcf20;
}
.homeTitle a:after{
    display: block;
    content: "";
    height: 3px;
    width: 0;
    background-color: #ffeb3b;
    transition: width .3s ease-in-out;
}
.homeTitle a:hover:after{
    width: 100%;
}