.form {
    border: 3px solid #f1f1f1;
    width: 250px;
}

input[type=text], input[type=password] {
    font-size: 16px;
    padding: 10px;
    -webkit-appearance: none;
    display: block;
    background: transparent!important;
    color: #636363;
    border: none;
    border-bottom: 1px solid #fff;
    margin-top: 5px;
    width: 100%;
}

button {
    background-color: transparent;
    color: white;
    height: 45px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
    cursor: pointer;
    border: 2px solid #ebcf20 ;
}
button:disabled,
button:disabled:hover{
    opacity: .1;
    cursor: default;
}
button:hover {
    opacity: .8;
}
button a{
    padding: 14px 15px;
    color: #fff;
    text-decoration: none;
}
.cancelbtn {
    background-color: #ebcf20;
}

.container {
    padding: 16px;
}
.buttonGroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group {
    margin-bottom: 45px;
    overflow: hidden;
}
.highlight {
    position: absolute;
    height: 60%;
    width: auto;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
.bar {
    position: relative;
    display: block;
    width: 100%;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}
.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #ebcf20;
    transition: all 0.2s ease;
}
label, legend {
    color: #FFF;
    font-size: 16px;
    font-weight: normal;
    transition: all 0.2s ease;
    margin-bottom: 10px;
}
input:focus {
    outline: none;
    border: none;
}
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}
